// Värimäärittelyt 
// https://coolors.co/2d2d2a-696963-e1e1df-5f6b81-c14953 
$color-primary: #FADADD;//header
$color-secondary: #a19478;//nappi
$color-neutral-darkest: #1b1c1d;
$color-neutral-darker: #FADADD;//menu
$color-neutral-dark: #090909;
$color-neutral: #040404;
$color-neutral-light: #f5e4e4;//button pohja
$color-neutral-lighter: #d9d7d7;//settings
$color-neutral-lightest: #dad4d4;//button pohja
 
// Muut määrittelyt
$container-padding: 2rem;
$color:black;


